# Игнорируем логи
*.log

# Игнорируем каталог build/ и всё в нём
build/

# Игнорируем все .txt-файлы в папке doc, но не в подпапках
doc/*.txt

# Исключаем файл lib.a, но если позже появится `!lib.a`, этот файл будет отслеживаться
*.a
!lib.a
